.center {
  width: 100%;
  text-align: center;
}
.left {
    text-align: left;
}
.textinp {
    width: 5rem;
}
.intinp {
    width: 1.5rem;
}
html {
    background-color: black;
    color: white;
}
canvas {
    border: 3px solid white;
}
p.flippy {
    animation-duration: 0.1s;
    animation-name: flipper;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes flipper {
    from { transform: scaleY(1);}
    to { transform: scaleY(0);}
}